/* Button Styling */
.center-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-button,
.auth-buttons button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
}

.center-button:hover,
.auth-buttons button:hover {
    background-color: white;
    color: black;
}

/* Auth Buttons Styling */
.auth-buttons {
    position: fixed;
    right: 0;
    top: 20px;
    display: flex;
    flex-direction: row; /* Ensure buttons are in a row */
    align-items: center; /* Align buttons horizontally */
    padding: 20px;
    height: 60px; /* Add !important to override any other styles */
}
